<%
// 获取前20个文章
var articlePage = temp.articlePage(1, 100, 230);
%>

<% 
	var headContent = {
%>
	<% include("/template/project/includes/header.html"){} %>
	
	<style>
	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
		background-size: cover;
	}

	.section{
		/* background-image: url(bg1.jpg); */
		padding: 2% 0 0 0;
	}

	.section p{
		 color: #FFF;
	}

	/* Defining each sectino background and styles
	* --------------------------------------- */
	#fullpage {
	  font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
	  color: #111;
	}

	</style>
<%
};

var bodyContent = {
%>
<%  include("/template/project/includes/header_menu.html"){} %>	
<div class="container">
				<ul class="nav navbar-nav navbar-right">
					<% for(item in articlePage.list){ %>
						<li id="nav_j${item.id}"><a href="#j${item.id}">${item.title}</a></li>
					<% } %>
				</ul>
			</div>
<div id="fullpage">
		<% for(item in articlePage.list){ %>
			<div class="section" id="section${itemLP.index}" style="background-image: url('static/template/website/images/bg${itemLP.index}.jpg');">
				${item.content!}
			</div>
		<% } %>
		
	</div>

<%  include("/template/project/includes/footer.html"){} %>
	
<a id="scrollTop" href="javacript:void(0);" title="返回顶部" style="display: inline;"></a>
	
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>
<script type="text/javascript">
var anchorsArray = [];
var navigationTooltipsArray = [];
<% for(item in articlePage.list){ %>
	anchorsArray.push('j${item.id}');
	navigationTooltipsArray.push('${item.title}');
<% } %>

console.log()
	$(document).ready(
			function() {
				$('#fullpage').fullpage({
					anchors : anchorsArray, //[ 'j0','j1', 'j2','j3','j4','j5','j6'  ],
					navigation : true,
					navigationPosition : 'right',
					navigationTooltips :  navigationTooltipsArray
					,afterLoad: function(anchorLink, index){
						$('ul.nav li').removeClass('active');
						$('ul.nav li#nav_'+anchorLink).addClass('active');

					}
				});
			});
</script>
<script type="text/javascript" src="http://cdn.bootcss.com/fullPage.js/2.7.6/jquery.fullPage.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/fullPage.js/2.7.6/jquery.fullPage.min.css" />